@font-face {
    font-family: 'Fonten';
    src: url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fonten2';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Fonten';
    background-color: lightblue;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Fonten2';
    text-align: left;
    padding-left: 5px;
    font-size: 2.2rem;
    width: 100%;
    margin: 10px 0;
    border-radius: 15px;
    padding: 20px;
    border: 3px solid black;
    background-color: orange;
    text-shadow: 2px 2px grey;
    box-sizing: border-box;
}

p {
    text-align: left;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(255, 186, 57);
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

h2 {
    font-family: 'Fonten2';
    text-shadow: 2px 2px rgb(75, 75, 75);
    text-align: left;
    margin: 10px 0;
    padding: 15px;
    background-color: orange;
    text-shadow: 1px 1px grey;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
}

h3 {
    font-family: Fonten2;
    text-align: left;
    margin: 8px 0;
    padding: 12px;
    background-color: rgb(255, 185, 54);
    text-shadow: 2px 2px grey;
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
    font-size: 1.1rem;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 10px;
    object-fit: cover;
    display: block;
}

main {
    font-size: 1rem;
    padding: 10px;
}

dt,
dd {
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
}

dt {
    padding: 12px;
    background-color: orange;
    box-shadow: 2px 2px 2px grey;
    border: 1px solid black;
    border-radius: 15px;
}

dd {
    padding: 10px;
    background-color: orangered;
    box-shadow: 2px 2px 2px grey;
    border: 1px solid black;
    border-radius: 15px;
}

nav ul {
    text-align: center;
    width: 89%;
    margin: 15px;
    background-color: lightpink;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    list-style: none;
    padding: 20px 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

nav ul li {
    flex: 1 1 40%;
    min-width: 90px;
}

nav ul li a {
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: #222;
    font-size: 1.1rem;
    padding: 6px 8px;
    transition: background 0.2s, box-shadow 0.2s;
    display: block;
}

nav ul li a:hover {
    background: #f35d8fdc;
    box-shadow: 0 0 12px 2px #ffb6c1;
}

figcaption {
    margin: 5px 0;
    border-radius: 10px;
}

section {
    margin: 15px 0;
    padding: 10px;
    background-color: lightseagreen;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

strong {
    color: darkred;
    font-size: 120%;
    text-shadow: 0 0 1px black;
    text-transform: uppercase;
}

article {
    margin: 3px 0;
    padding: 10px;
    background-color: skyblue;
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

button {
    background-color: orange;
    border: black solid 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: darkorange;
}


@media (max-width: 600px) {
    h1 {
        font-size: 1.7rem;
        padding: 12px;
    }

    h2 {
        font-size: 1.2rem;
        padding: 10px;
    }

    h3 {
        font-size: 1rem;
        padding: 8px;
    }

    nav ul {
        padding: 10px 2px;
        gap: 5px;
    }

    nav ul li a {
        font-size: 1rem;
        padding: 5px 6px;
    }

    section,
    article,
    p,
    dt,
    dd {
        padding: 8px;
    }
}